@media(max-width: 599px){
  
}

}


.navbar{
  z-index: 2;
  height: 74px;
}

.content{
  max-width: 500px;
  text-align: center;
  overflow: hidden;
  margin-top: 40px;

}

.container-fluid {
    width: 100%;
     padding-right: 0; 
     padding-left: 0; 
    margin-right: auto;
    margin-left: auto;
}


#box {
  height: 100vh;
 
  background-color: white;
  
  overflow: hidden;
}

.container {
  margin-top: 0;
  margin-left: 0;
}

#circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #e01c68;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

#menu-icon {
  position: absolute;
  margin-top: 13px;
}

.bar {
  height: 4px;
  width: 30px;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 5px;
  margin-left: 15px;
}

.click {
  -webkit-animation: activate 0.3s linear forwards;
  animation: activate 0.3s linear forwards;
}

@-webkit-keyframes activate {
  0% {transform: scale(1);}
  25% {transform: scale(1.1);}
  50% {transform: scale(0.9);}
  75% {transform: scale(1);}
  100% {transform: scale(10.5);}
}

@keyframes activate {
  0% {transform: scale(1);}
  25% {transform: scale(1.1);}
  50% {transform: scale(0.9);}
  75% {transform: scale(1);}
  100% {transform: scale(70.5);}
}

.back {
  -webkit-animation: deactivate 0.7s linear forwards;
  animation: deactivate 0.7s linear forwards;
}

@-webkit-keyframes deactivate {
  0% {transform: scale(10.5);}
  25% {transform: scale(1);}
  50% {transform: scale(0.9);}
  75% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

@keyframes deactivate {
  0% {transform: scale(10.5);}
  25% {transform: scale(1);}
  50% {transform: scale(0.9);}
  75% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

#menu {
  position: absolute;
  margin-top: -2%;
  display: none;
}

#menu p{
  margin-top: 80px;
  text-align: center;
  color: white;
  max-width: 500px;
}


dl, ol, ul {
    margin-top: 8%;
    margin-bottom: 1rem;
}



li {
  list-style: none;
  margin-top: 18px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 14px;
}

i {
  color: #755282;
  vertical-align: middle;
  margin-right: 18px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
#back:hover {
  color: #755282;
  transition: color 0.4s;
}

#back {
  cursor: pointer;
}